.container-world {
  width: 100vw;
  overflow-y: hidden;
  margin: auto;
  background-color: skyblue;
  /* display: flex; */
}

.container-world::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.background {
  width: 300rem;
  /* height: 100vh; */
}

.grid {
  /* width: 300rem; */
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  /* grid-template-rows: repeat(25, 1fr); */
  grid-template-rows: repeat(20, 1fr);
}

.grid .cell {
  /* border: 1px solid red; */
}

.grid .cell:hover {
  border: 3px solid green;
}

.grid [data-open="true"] {
  background-color: skyblue;
}

.floor-tile-up,
[tileType="floor-tile-up"] {
  background-image: url("../weekendImg/Spritesheet.png");
}
.floor-tile-center,
[tileType="floor-tile-center"] {
  background-image: url("../weekendImg/Spritesheet.png");
  /* background-position: -3rem 0; */
  background-position: -30px 0;
}
.rock1,
[tileType="rock1"] {
  background-image: url("../weekendImg/Spritesheet.png");
  /* background-position: -6rem 0; */
  background-position: -60px 0;
}
.rock2,
[tileType="rock2"] {
  background-image: url("../weekendImg/Spritesheet.png");
  background-position: -9rem -3rem;
}
.rock3,
[tileType="rock3"] {
  background-image: url("../weekendImg/Spritesheet.png");
  background-position: -12rem -3rem;
}
.rock4,
[tileType="rock4"] {
  background-image: url("../weekendImg/Spritesheet.png");
  background-position: -15rem -3rem;
}
.rock5,
[tileType="rock5"] {
  background-image: url("../weekendImg/Spritesheet.png");
  background-position: 0rem -6rem;
}

.wall,
[tileType="wall"] {
  background-image: url("../weekendImg/Spritesheet.png");
  background-position: 0 -9rem;
}
.tree-trunk,
[tileType="tree-trunk"] {
  background-image: url("../weekendImg/Spritesheet.png");
  background-position: -15rem 0;
}
.tree-leaf,
[tileType="tree-leaf"] {
  background-image: url("../weekendImg/Spritesheet.png");
  background-position: 0 -3rem;
}

/* animation alert */
/* .WrongToolAlert {
  background: r;
} */
@media screen and (max-width: 500px) {
  .grid {
    /* width: 400rem; */
  }
  .background {
    /* width: 600rem; */
    /* height: 50vh; */
    /* border: 2px solid black; */
  }
  .floor-tile-up,
  [tileType="floor-tile-up"] {
    background-image: url("../weekendImg/‏‏SpritesheetSmall.png");
  }
  .floor-tile-center,
  [tileType="floor-tile-center"] {
    background-image: url("../weekendImg/‏‏SpritesheetSmall.png");
    background-position: -20px 0;
  }
  .rock1,
  [tileType="rock1"] {
    background-image: url("../weekendImg/‏‏SpritesheetSmall.png");
    background-position: -20px 0;
  }
  .rock2,
  [tileType="rock2"] {
    background-image: url("../weekendImg/‏‏SpritesheetSmall.png");
    /* background-position: -9rem -3rem; */
    background-position: -30px -10px;
  }
  .rock3,
  [tileType="rock3"] {
    background-image: url("../weekendImg/‏‏SpritesheetSmall.png");
    background-position: -120px -30px;
  }
  .rock4,
  [tileType="rock4"] {
    background-image: url("../weekendImg/‏‏SpritesheetSmall.png");
    /* background-position: -18rem -3rem; */
    background-position: -9rem -6rem;
  }
  .rock5,
  [tileType="rock5"] {
    background-image: url("../weekendImg/‏‏SpritesheetSmall.png");
    background-position: 0rem -35rem;
  }

  .wall,
  [tileType="wall"] {
    background-image: url("../weekendImg/‏‏SpritesheetSmall.png");
    background-position: 0 -9rem;
  }
  .tree-trunk,
  [tileType="tree-trunk"] {
    background-image: url("../weekendImg/‏‏SpritesheetSmall.png");
    background-position: -80px 0;
  }
  .tree-leaf,
  [tileType="tree-leaf"] {
    background-image: url("../weekendImg/‏‏SpritesheetSmall.png");
    background-position: 0 -60px;
  }
}
