.window {
  width: 20vw;
  background-color: rgb(190, 190, 190);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* background-image: linear-gradient(120deg, rgb(170, 52, 52), rgb(177, 177, 177)); */
}

.container-window {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  /* border: solid 1px black; */
  /* background-color: gray; */
  background-image: radial-gradient(rgb(81, 81, 81), rgb(169, 169, 169), rgb(190, 190, 190));
  /* align-items: center; */
}

[class="window"][data-view="vertical"] {
  /* background-color: blue; */
  flex-direction: row;
}
[class="window"][data-view="horizon"] {
  /* background-color: white; */
  flex-direction: column;
}
/* [class="inventory"][data-view="vertical"] {

  flex-direction: row;
}
[class="invetory"][data-view="horizon"] {
  flex-direction: column;
} */

.container-window .setting {
  margin: auto;
}

.tools-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.tools-container > * {
  width: 5rem;
  height: 5rem;
  background-color: gray;
  background-size: cover;
  box-shadow: 2px 2px 2px;
}

.tools-container > *:hover {
  background-color: rgb(74, 74, 74);
  cursor: pointer;
}

.active {
  background-color: rgb(74, 74, 74);
  /* border: 2px solid black; */

  /* animation: ; */
}

/* @keyframes */

.active-stored {
  cursor: pointer;
  transform: scale(1.3);
}

/* .active-stored:hover {
  border: black solid 1px;
} */

.active-stored:active {
  transform: scale(1.5);
}

.tools-container #pickaxe {
  background-image: url("../weekendImg/modified/pickaxe.png");
}
.tools-container #axe {
  background-image: url("../weekendImg/modified/axe.png");
}
.tools-container #shovel {
  background-image: url("../weekendImg/modified/shovel.png");
}

.inventory {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 90%;
  /* align-items: center; */
  /* align-items: flex-start; */
  /* height: 11rem; */
  /* width: 14rem; */
  /* background-color: rgb(49, 49, 49); */
}

.inventory > * {
  background-color: gray;
  width: 3rem;
  height: 3rem;
  border: 3px solid rgb(93, 93, 93);
  /* align-self: flex-start; */
  /* justify-self: flex-start; */
}
